.main {
    position: center;
    background-color: #56baed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    align-items: center;
}

.window {
    -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 40%;
  max-height: 40%;
  position: fixed;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.panel {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    left: 0;

    width: 100%;
    color:red;
}

